h4 {
  background-color: #26d9ac;
  color: white;
  padding: 12px;
  text-align: center;
}

.vertical {
  border-left: 2px solid #26d9ac;
  height: 70%;
  position: absolute;
  left: 50%;
  margin-left: 270px;
  top: 0;
}

#footer {
  bottom: 1%;
  background-color: #26d9ac;
  padding: 3px;
  position: fixed;
  width: 98%;
  text-align: center;
  color: white;
}

table {
  background-color: #a6cc33;
  margin-top: 7%;
  margin-bottom: 60%;
  margin-left: 50px;
  min-width: 500px;
  border: 1.5px solid #a6cc33;
  font-family: "Arial", Times, serif;
  color: white;
  border-collapse: collapse;
}

td {
  background-color: aliceblue;
  color: black;
  text-align: left;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border: 1.5px solid yellowgreen;
}

th{
  padding-left: 20px;
}

td {
  animation: fade 3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#newForm {
  margin-left: 70px;
}
